
html{
    background-color: rgb(45, 45, 45);
    background-image: url(Champagne.jpg);

}

h1{
    color: black;
    font-size: 3em;
    background-color: rgb (120, 120, 120);
    text-transform: uppercase;
}

h2{
    text-align: center;
    text-transform: uppercase;
}

h3{
    text-align: center;
    text-transform: uppercase;

}


h4{
    text-align: center;
    text-transform: uppercase;
}

p{
    text-align: center;
    font-style: italic;
    margin-top: 20px;
    margin-bottom: 25px;
    margin-right: 30px;
    margin-left: 30px;
    
    
}

body{
    color: red;
    
}