body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.boxes1,
.boxes2 {
    border: 1px solid: greenyellow;
}
.first {
    color: green;
    font-size: bold;
    background-color: green;
    border-bottom: 1px; dott
}
.box 2{
    font-size: 1em;
}
.second {
    color: grey;
    font-size: small;
    background-color: grey;
    border-bottom: 1px;
}

.boxes2 {
    border: 2px solid salmon;

    display: grid;
    grid-template-columns: 3000px;
    grid-template-rows: 200px;
}


